[Unit]
Description=Shadowsocks Manager Server

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/local/bin/ss-manager --manager-address 127.0.0.1:8899 -c /etc/shadowsocks-libev/config.json
ExecStop=/usr/local/bin/ss-manager --manager-address 127.0.0.1:8899 -c /etc/shadowsocks-libev/config.json

[Install]
WantedBy=multi-user.target